{% extends "catalog/base.html" %}


{% block title %}
Champions
{% endblock %}



{% block content %}


<h1 class="mb-4">
    Champions
</h1>


<a
    href="{% url 'champion-create' %}"
    class="btn btn-success mb-4"
>
    Add champion
</a>



<form
    method="get"
    class="mb-4"
>


    <div class="input-group mb-3">


        <input
            type="text"
            name="query"
            class="form-control"
            placeholder="Search champion..."
            value="{{ request.GET.query }}"
        >


        <button
            type="submit"
            class="btn btn-primary"
        >
            Search
        </button>


    </div>



    <div class="row g-3">


        <div class="col-md-5">

            <select
                name="region"
                class="form-select"
            >

                <option value="">
                    All regions
                </option>


                {% for region in regions %}

                <option
                    value="{{ region.id }}"
                    {% if request.GET.region == region.id|stringformat:"s" %}
                    selected
                    {% endif %}
                >

                    {{ region.name }}

                </option>

                {% endfor %}


            </select>


        </div>




        <div class="col-md-5">


            <select
                name="role"
                class="form-select"
            >

                <option value="">
                    All roles
                </option>


                {% for role in roles %}

                <option
                    value="{{ role.id }}"
                    {% if request.GET.role == role.id|stringformat:"s" %}
                    selected
                    {% endif %}
                >

                    {{ role.name }}

                </option>


                {% endfor %}


            </select>


        </div>




        <div class="col-md-2">


            <button
                type="submit"
                class="btn btn-success w-100"
            >
                Filter
            </button>


        </div>


    </div>


</form>





<div class="row">



{% for champion in champions %}



<div class="col-lg-4 col-md-6 mb-4">



<a
    href="{% url 'champion-detail' champion.id %}"
    class="text-decoration-none"
>



<div class="champion-card">



{% if champion.image %}



<img
    src="{{ champion.image.url }}"
    class="card-img-top"
    alt="{{ champion.name }}"
    style="object-position: {{ champion.image_position|default:'center center' }};"
>



{% endif %}





<div class="champion-overlay">



<h3>
{{ champion.name }}
</h3>



<p>
{{ champion.title }}
</p>



</div>




</div>




</a>




</div>



{% empty %}


<p>
    No champions found.
</p>


{% endfor %}



</div>





{% if is_paginated %}


<nav>


<ul class="pagination justify-content-center">



{% if page_obj.has_previous %}


<li class="page-item">


<a
    class="page-link"
    href="?page={{ page_obj.previous_page_number }}&query={{ request.GET.query }}&region={{ request.GET.region }}&role={{ request.GET.role }}"
>

    Previous

</a>


</li>


{% endif %}





<li class="page-item active">


<span class="page-link">

{{ page_obj.number }}

</span>


</li>





{% if page_obj.has_next %}


<li class="page-item">


<a
    class="page-link"
    href="?page={{ page_obj.next_page_number }}&query={{ request.GET.query }}&region={{ request.GET.region }}&role={{ request.GET.role }}"
>

    Next

</a>


</li>


{% endif %}




</ul>


</nav>


{% endif %}





{% endblock %}
